<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="d-flex">
  <h1>
    Welcome to {{ title }}! {{env}}
  </h1>
  <button routerLink="/login/facebook">Facebook</button>
  <button routerLink="/login/google">Google</button>
  <button routerLink="/login/twitter">Twitter</button>
</div>
<span [translate]="'rogers_app'"></span>

<router-outlet></router-outlet>